@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

/* @theme {
  --font-outfit: 'Outfit', sans-serif;
} */

body {
  font-family: 'Outfit', sans-serif;
}

@media (min-width: 1800px) {

  .custom-1580-grid {
    grid-template-columns: repeat(12, minmax(0, 1fr)) !important;
  }

  .custom-1580-colsspan-2 {
    grid-column: span 2 !important;
  }

  .custom-1580-colsspan-10 {
    grid-column: span 10 !important;
  }

}